<div class="form-gap"></div>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <div class="panel-body">
              <form id="forgot-password-form" role="form" autocomplete="off">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                    <input ngbPopover="Please enter your username and if it exists an email will be sent to that users registered email address"
                           triggers="mouseenter:mouseleave"
                           placement="right-bottom"
                           popoverTitle="USERNAME"
                           id="email" name="email" placeholder="Username" class="form-control"  type="email"
                           [(ngModel)]="this.username">
                  </div>
                </div>
                <div class="form-group">
                  <button name="recover-submit" class="btn btn-lg btn-primary btn-block" (click)="requestResetEmail()">Send Reset Password Email</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>