<!--Created By Blaine Viljoen-->
<div *ngIf="!this.showSpecialist && !this.edit && !this.displayCCR && !this.showEditDocs && !this.editUserRole && !this.deleteUserRole && !this.showEditAlert && !this.showManagerEdit && !this.showTitleEdit && !this.showAssignSite && !this.editEOS && !this.showAssignEOS">
    <div class="row h-10">
        <div class="col md-2">
            <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40  waves-effect z-depth-0" (click)="this.redirectSQL()">Run SQL</button><br>
            <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.revealAssignEOS('add')">Assign EOS to user</button><br>
            <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.eosShow('delete')">Remove EOS system</button><br>
        </div>
        <div class="col md-2">
            <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.userRoleShow('add')">Assign role to user</button><br>
            <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.revealAssignEOS('delete')">Remove EOS from user</button><br>
            <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.showManager('add')">Add manager</button><br>
        </div>
        <div class="col md-2">
            <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.userRoleShow('delete')">Remove role from user</button><br>
            <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.titleShow('add')">Add Title</button><br>
            <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.showManager('delete')">Remove manager</button><br>
        </div>
        <div class="col md-2">
            <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.revealAssignSite('add')">Assign User to site</button><br>
            <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.titleShow('delete')">Remove Title</button><br>
            <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.revealEditAlert()">Edit alert</button><br>
        </div>
        <div class="col md-2">
            <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.revealAssignSite('delete')">Remove User from site</button><br>
            <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.eosShow('add')">Add EOS system</button><br>
        </div>
    </div>
</div><br>
<div *ngFor="let rfc of initiatedRFC; index as i">
    <div class="row h-100" *ngIf="!this.showSpecialist && !this.edit && !this.displayCCR && !this.showEditDocs && !this.showEditAlert && !this.editUserRole && !this.deleteUserRole && !this.showManagerEdit && !this.showTitleEdit && !this.showAssignSite && !this.editEOS && !this.showAssignEOS" >
        <div class="col mb-4">
            <h2 class="px-3 text-secondary" *ngIf="i === 0">Initiated requests:</h2><br>
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="px-3 pt-1 text-primary card-title" style="cursor: pointer;" (click)="this.showCCR(i)">CCR ID: {{rfc.ID}}</h2>
                        <p class="card-text"> Request: {{rfc.requested_change}}</p>
                        <p class="card-text"> Reason: {{rfc.description}}</p>
                    </div>
                    <div class="card-footer">
                        <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40  waves-effect z-depth-0" id="reassignSpec" (click)="revealSpecialist(i)">Reassign Specialist</button>
                        <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40  waves-effect z-depth-0" id="editCCR" (click)="this.editCCR(i, 'Phase1')">Edit CCR</button>
                    </div>
                </div>
        </div>
        <div class="col mb-4">
            <h2 class="px-3 text-secondary" *ngIf="i === 0">CCR's in Phase 2:</h2><br>
                <div class="card h-100" *ngIf="this.phase2RFCs[i].ID === -1" >
                    <div class="card-body">
                        <h2 class="px-3 pt-1 text-primary card-title" style="cursor: pointer;" (click)="this.showCCR(i)">CCR ID: {{this.phase2RFCs[i].ID}}</h2>
                        <p class="card-text"> Phase 2 not yet processed</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>

                <div class="card h-100" *ngIf="this.phase2RFCs[i].ID !== -1" >
                    <div class="card-body">
                        <h2 class="px-3 pt-1 text-primary card-title" style="cursor: pointer;" (click)="this.showCCR(i)">CCR ID: {{this.phase2RFCs[i].ID}}</h2>
                        <p class="card-text"> Phase 1 ID: {{this.phase2RFCs[i].phase1_ID}}</p>
                        <p class="card-text"> Specialist ID: {{this.phase2RFCs[i].spec_ID}}</p>
                    </div>
                    <div class="card-footer">
                        <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40  waves-effect z-depth-0" (click)="revealSpecialist(i)">Reassign Specialist</button>
                        <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40  waves-effect z-depth-0" (click)="this.editCCR(i, 'Phase2')">Edit CCR</button>
                        <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40  waves-effect z-depth-0" (click)="this.editDocs(i)">Edit Documents</button>
                    </div>
                </div>

        </div>


        <div class="col mb-4">
            <h2 class="px-3 text-secondary" *ngIf="i === 0">CCR's in Phase 3:</h2><br>
                <div class="card h-10" *ngIf="this.phase3RFCS[i].ID === -1" style="height: 28vh">
                    <div class="card-body">
                        <h2 class="px-3 pt-1 text-primary card-title" style="cursor: pointer;" (click)="this.showCCR(i)">CCR ID: {{this.phase3RFCS[i].ID}}</h2>
                        <p class="card-text"> Phase 3 has not yet been processed</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>

                <div class="card h-100" *ngIf="this.phase3RFCS[i].ID !== -1" style="height: 28vh">
                    <div class="card-body">
                        <h2 class="px-3 pt-1 text-primary card-title" style="cursor: pointer;" (click)="this.showCCR(i)">CCR ID: {{this.phase3RFCS[i].ID}}</h2>
                        <p class="card-text"> CCR_ID: {{this.phase3RFCS[i].CCR_ID}}</p>
                    </div>
                    <div class="card-footer">
                        <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40  waves-effect z-depth-0" (click)="revealSpecialist(i)">Reassign Specialist</button>
                        <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40  waves-effect z-depth-0" (click)="this.editCCR(i, 'Phase3')">Edit CCR</button>
                        <button class="mx-3 mt-1 btn btn-outline-info btn-rounded w-40  waves-effect z-depth-0" (click)="this.editDocs(i)">Edit Documents</button>
                    </div>
                </div> <br>

        </div>
    </div><br><br>
</div>

<div class="shadow card bg-light mx-auto" *ngIf="this.displayCCR">
    <h1 class="px-3 text-primary">CCR:</h1>
    <div class="card-body">
        <h2 class="px-3 text-secondary">Phase 1: </h2><br>
        <p class="px-3">
            ID: {{this.initiatedRFC[this.selectedIndex].ID}}<br>
            User: {{this.selectedUser}}<br>
            Request: {{this.initiatedRFC[this.selectedIndex].requested_change}}<br>
            Description: {{this.initiatedRFC[this.selectedIndex].description}}<br>
            Start Time: {{this.initiatedRFC[this.selectedIndex].start_time}}<br>
        </p><br>
        <h2 class="px-3 text-secondary" *ngIf="this.phase2RFCs[this.selectedIndex].ID !== -1">Phase 2:</h2>
        <p class="px-3" *ngIf="this.phase2RFCs[this.selectedIndex].ID !== -1">
            Phase 2 ID: {{this.phase2RFCs[this.selectedIndex].ID}}<br>
            Specialist: {{this.specialist}}<br>
            EOS: {{this.selectedEOS}}<br>
            TCB ID: {{this.phase2RFCs[this.selectedIndex].tcb_crf_ID}}<br>
            Request Priority: {{this.selectedPriority}}<br>
            Change Period: {{this.selectedPeriod}}<br>
            Impact on: {{this.selectedRisk}}<br>
            Nature of Change: {{this.selectedChange}}<br>
            Start Date: {{this.phase2RFCs[this.selectedIndex].startDate}}<br>
            Temporary Start Date: {{this.temporaryStartDate}}<br>
            Temporary End Date: {{this.temporaryEndDate}}<br>
            Change on Hardware: {{this.changeHW}}<br>
            Change on Software: {{this.changeSW}}<br>
            Change on Firmware: {{this.changeFW}}<br>
            Configuration description: {{this.phase2RFCs[this.selectedIndex].configurationDescr}}<br>
            Impact on Operations: {{this.impactOps}}<br>
            Impact on Clients: {{this.impactCli}}<br>
            Impact on Tech: {{this.impactTech}}<br>
            Report Raised with Contractor: {{this.reportRaised}}<br>
            Pre-Test Success: {{this.preTest}}<br>
            Reason unsuccessful: {{this.reasonUnsucc}}<br>
            Specialist Comments: {{this.specialistComm}}<br>
            Proposed Implementation Date: {{this.phase2RFCs[this.selectedIndex].proposed_implementation_date}}
        </p><br>
        <h2 class="px-3 text-secondary" *ngIf="this.phase3RFCS[this.selectedIndex].ID !== -1">Phase 3:</h2>
        <p class="px-3" *ngIf="this.phase3RFCS[this.selectedIndex].ID !== -1">
           <label>ID: {{this.phase3RFCS[this.selectedIndex].ID}}</label><br>
            <label>CCR ID: {{this.phase3RFCS[this.selectedIndex].CCR_ID}}</label><br>
            <label *ngIf="this.phase3RFCS[this.selectedIndex].implementation_successful === '1'">Implementation: Successful</label><br *ngIf="this.phase3RFCS[this.selectedIndex].implementation_successful === '1'">
            <label *ngIf="this.phase3RFCS[this.selectedIndex].implementation_successful === '1'">TCB Start Date: {{this.phase3RFCS[this.selectedIndex].start_tcb_evaluation_date}}</label><br *ngIf="this.phase3RFCS[this.selectedIndex].implementation_successful === '1'">
            <label *ngIf="this.phase3RFCS[this.selectedIndex].implementation_successful === '1'">TCB Start Date: {{this.phase3RFCS[this.selectedIndex].end_tcb_evaluation_date}}</label><br *ngIf="this.phase3RFCS[this.selectedIndex].implementation_successful === '1'">
            <label *ngIf="this.phase3RFCS[this.selectedIndex].implementation_successful === '0'">Implementation: Unsuccessful</label><br *ngIf="this.phase3RFCS[this.selectedIndex].implementation_successful === '0'">
            <label *ngIf="this.phase3RFCS[this.selectedIndex].aborted_regressed !== null">Status: {{this.phase3RFCS[this.selectedIndex].aborted_regressed}}</label><br *ngIf="this.phase3RFCS[this.selectedIndex].aborted_regressed !== null">
            <label *ngIf="this.phase3RFCS[this.selectedIndex].regression_scheduled === '1'">Regression scheduled date: {{this.phase3RFCS[this.selectedIndex].scheduled_regression_date}}</label><br *ngIf="this.phase3RFCS[this.selectedIndex].regression_scheduled === '1'">
            <label *ngIf="this.phase3RFCS[this.selectedIndex].evaluation_success === '1'">Evaluation Status: Success</label><br *ngIf="this.phase3RFCS[this.selectedIndex].evaluation_success === '1'">
            <label *ngIf="this.phase3RFCS[this.selectedIndex].evaluation_success === '1' && this.phase3RFCS[this.selectedIndex].close_out_confirmed === '1'">Confirmed/Rejected: Confirmed</label><br *ngIf="this.phase3RFCS[this.selectedIndex].evaluation_success === '1' && this.phase3RFCS[this.selectedIndex].close_out_confirmed === '1'">
            <label *ngIf="this.phase3RFCS[this.selectedIndex].evaluation_success === '1' && this.phase3RFCS[this.selectedIndex].close_out_confirmed === '0'">Confirmed/Rejected: Rejected</label><br *ngIf="this.phase3RFCS[this.selectedIndex].evaluation_success === '1' && this.phase3RFCS[this.selectedIndex].close_out_confirmed === '0'">
            <label *ngIf="this.phase3RFCS[this.selectedIndex].evaluation_success === '0' && this.phase3RFCS[this.selectedIndex].aborted_regressed === null">Evaluation Status: Failed</label><br *ngIf="this.phase3RFCS[this.selectedIndex].evaluation_success === '0' && this.phase3RFCS[this.selectedIndex].aborted_regressed === null">
            <label *ngIf="this.phase3RFCS[this.selectedIndex].evaluation_success === '0' && this.phase3RFCS[this.selectedIndex].aborted_regressed === null">Reason: {{this.phase3RFCS[this.selectedIndex].evaluation_failure_reason}}</label><br *ngIf="this.phase3RFCS[this.selectedIndex].evaluation_success === '0' && this.phase3RFCS[this.selectedIndex].aborted_regressed === null">
        </p>
        <button class="btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.hideCCR()">Back</button>
    </div>
</div>

    <div *ngIf="this.showSpecialist">
        <h2 class="px-3 pt-1 text-primary card-title">Reassign Specialist:</h2>
        <div class="shadow card bg-light mx-auto">
            <div class="card-body">
                <h2 class="px-3 pt-1 text-primary card-title">Select the new specialist</h2>
                <select class="px-3 pt-2 card-text rounded w-100 form-control" name="selectedSpecialist" id="selectedSpecialist" (click)="this.selectedSpecialist($event)"
                >
                    <option selected="selected" disabled="disabled">Select one</option>
                    <option *ngFor="let specialist of this.specialists, index as i" value="{{specialist[0]}}">{{specialist[2]}} ({{specialist[1]}})</option>
                </select><br>

                <button class="btn btn-outline-info btn-rounded w-40  waves-effect z-depth-0" (click)="this.setSpecialist()">Reassign Specialist</button><button class="ml-2 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.hideSpecialist()">Back</button>
            </div>
        </div>
    </div>

<div class="form-group" *ngIf="this.edit" style="background-color: #ffffff;">
    <app-create-rfcs *ngIf="this.selectedPhase === 'Phase1'"></app-create-rfcs><br>
    <app-phase2 *ngIf="this.selectedPhase === 'Phase2'"></app-phase2><br>
    <app-phase3 *ngIf="this.selectedPhase === 'Phase3'"></app-phase3><br>
    <button *ngIf="this.edit" class="mb-2 ml-2 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.back()">Back</button><br>
</div>

<div class="form-group" *ngIf="this.showEditDocs">
    <h2>Phase 2 Documents:</h2><br>
    <h3>Upload explanation documents to system:</h3><br>
    <div class="px-3">
        <ngx-file-drop multiple="true" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event, '2')"
                       (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template  ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                Please drag and drop your additional files here
                <button type="button" (click)="openFileSelector()">Browse Files</button>
            </ng-template>
        </ngx-file-drop>
        <div class="upload-table px-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Name:</th>
                </tr>
                </thead>
                <tbody class="upload-name-style">
                <tr *ngFor="let item of phase2Upload, index as i">
                    <td><strong>{{ item.name }}</strong></td>
                    <td class="px-3" (click)="removeFile(i, '2')" style="cursor: pointer;">&#10005;</td>
                </tr>
                </tbody>
            </table>
            <button class="px-3 btn btn-outline-primary btn-rounded w-40 waves-effect z-depth-0" [disabled]="this.phase2Upload.length === 0" (click)="this.upload('2')">Upload</button><br>
        </div>
    </div><br>
    <h3>Files already on system:</h3>
    <label *ngIf="this.phase2Docs.length === 0">None</label><br>
    <div *ngFor="let doc of phase2Docs, index as i">
        <a class="px-3 text-primary" (click)="this.openLink(i, '2')" style="cursor: pointer">{{doc.document_name}}</a><button (click)="this.deleteDoc(i, '2')" class="px-3 btn btn-outline-danger btn-rounded w-40  my-4 waves-effect z-depth-0">Delete Document</button>
    </div><br>
    <h2>Phase 3 Documents:</h2><br>
    <h3>Upload documents to system:</h3><br>
    <div class="px-3">
        <ngx-file-drop multiple="true" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event, '3')"
                       (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template  ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                Please drag and drop your additional files here
                <button type="button" (click)="openFileSelector()">Browse Files</button>
            </ng-template>
        </ngx-file-drop>
        <div class="upload-table px-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Name:</th>
                </tr>
                </thead>
                <tbody class="upload-name-style">
                <tr *ngFor="let item of phase3Upload, index as i">
                    <td><strong>{{ item.name }}</strong></td>
                    <td class="px-3" (click)="removeFile(i, '3')" style="cursor: pointer;">&#10005;</td>
                </tr>
                </tbody>
            </table>
            <button class="px-3 btn btn-outline-primary btn-rounded w-40 waves-effect z-depth-0" [disabled]="this.phase3Upload.length === 0" (click)="this.upload('3')">Upload</button><br>
        </div>
    </div><br>
    <h3>Files already on system:</h3>
    <label *ngIf="this.phase3Docs.length === 0">None</label><br>
    <div *ngFor="let doc of phase3Docs, index as i">
        <a class="px-3 text-primary" (click)="this.openLink(i, '3')" style="cursor: pointer">{{doc.document_name}}</a><button (click)="this.deleteDoc(i, '3')" class="px-3 btn btn-outline-danger btn-rounded w-40  my-4 waves-effect z-depth-0">Delete Document</button>
    </div><br>
    <button class="px-3 mb-2 ml-2 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.hideDocs()">Back</button>
</div>

<div *ngIf="this.editUserRole">
    <h2 class="px-3 pt-1 text-primary card-title" *ngIf="this.operation === 'add'">Assign Role to User:</h2><h2 class="px-3 pt-1 text-primary card-title" *ngIf="this.operation === 'delete'">Remove Role from User:</h2><br>
    <label for="user">User: </label>
    <select class="px-3 pt-2 card-text rounded w-100 form-control" id="user" (click)="this.selectUser($event)">
        <option selected="selected" disabled="disabled">Select one</option>
        <option *ngFor="let user of this.users" value="{{user.ID}}">{{user.name}}</option>
    </select><br>

    <label for="role">Role: </label>
    <select class="px-3 pt-2 card-text rounded w-100 form-control" id="role" (click)="this.selectRole($event)">
        <option selected="selected" disabled="disabled">Select one</option>
        <option *ngFor="let role of this.currentRoles" value="{{role.ID}}">{{role.name}}</option>
    </select><br>

    <button class="mx-3 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.editRole('add')" *ngIf="this.operation === 'add'">Save</button><br><br>
    <button class="mx-3 btn btn-outline-danger btn-rounded w-40 waves-effect z-depth-0" (click)="this.editRole('delete')" *ngIf="this.operation === 'delete'">Remove</button><br><br>

    <button class="mx-3 mb-2 ml-2 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.hideUserRole()">Back</button>
</div>

<div *ngIf="this.editEOS">
    <h2 class="px-3 pt-1 text-primary card-title" *ngIf="this.operation === 'add'">Add EOS to system:</h2><h2 class="px-3 pt-1 text-primary card-title" *ngIf="this.operation === 'delete'">Remove EOS from system:</h2><br>
    <label for="type" *ngIf="this.operation === 'add'">Type: </label>
    <input id="type" type="text" class="rounded w-75 form-control" [(ngModel)]="this.eosType" *ngIf="this.operation === 'add'"><br *ngIf="this.operation === 'add'">
    <label for="desc" *ngIf="this.operation === 'add'">Description: </label>
    <input id="desc" type="text" class="rounded w-75 form-control" [(ngModel)]="this.eosDescription" *ngIf="this.operation === 'add'"><br *ngIf="this.operation === 'add'">

    <label for="eosSystem" *ngIf="this.operation === 'delete'">EOS System: </label>
    <select class="px-3 pt-2 card-text rounded w-100 form-control" id="eosSystem" [(ngModel)]="this.eosType"  *ngIf="this.operation === 'delete'">
        <option selected="selected" disabled="disabled">Select one</option>
        <option *ngFor="let eos of this.eos" value="{{eos.type}}">{{eos.type}}</option>
    </select><br>

    <button class="mx-3 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.editEOSSystems()" *ngIf="this.operation === 'add'">Save</button><br *ngIf="this.operation === 'add'"><br *ngIf="this.operation === 'add'">
    <button class="mx-3 btn btn-outline-danger btn-rounded w-40 waves-effect z-depth-0" (click)="this.editEOSSystems()" *ngIf="this.operation === 'delete'">Remove</button><br *ngIf="this.operation === 'delete'"><br *ngIf="this.operation === 'delete'">

    <button class="mx-3 mb-2 ml-2 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.hideEOS()">Back</button>
</div>

<div *ngIf="this.showAssignEOS">
    <h2 class="px-3 pt-1 text-primary card-title" *ngIf="this.operation === 'add'">Assign EOS to User:</h2><h2 class="px-3 pt-1 text-primary card-title" *ngIf="this.operation === 'delete'">Remove EOS from User:</h2><br>
    <label for="userAssign">User: </label>
    <select class="px-3 pt-2 card-text rounded w-100 form-control" id="userAssign" [(ngModel)]="this.selectedUser">
        <option selected="selected" disabled="disabled">Select one</option>
        <option *ngFor="let user of this.users" value="{{user.ID}}">{{user.name}}</option>
    </select><br>

    <label for="eosAssign">EOS: </label>
    <select class="px-3 pt-2 card-text rounded w-100 form-control" id="eosAssign" [(ngModel)]="this.selectedEOS">
        <option selected="selected" disabled="disabled">Select one</option>
        <option *ngFor="let eos of this.eos" value="{{eos.ID}}">{{eos.type}}</option>
    </select><br>

    <button class="mx-3 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.assignEOS()" *ngIf="this.operation === 'add'">Save</button><br><br>
    <button class="mx-3 btn btn-outline-danger btn-rounded w-40 waves-effect z-depth-0" (click)="this.assignEOS()" *ngIf="this.operation === 'delete'">Remove</button><br><br>

    <button class="mx-3 mb-2 ml-2 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.hideAssignEOS()">Back</button>
</div>

<div *ngIf="this.showAssignSite">
    <h2 class="px-3 pt-1 text-primary card-title" *ngIf="this.operation === 'add'">Assign User to Site:</h2><h2 class="px-3 pt-1 text-primary card-title" *ngIf="this.operation === 'delete'">Remove User from Site:</h2><br>
    <label for="userAssignSite">User: </label>
    <select class="px-3 pt-2 card-text rounded w-100 form-control" id="userAssignSite" [(ngModel)]="this.selectedUser">
        <option selected="selected" disabled="disabled">Select one</option>
        <option *ngFor="let user of this.users" value="{{user.ID}}">{{user.name}}</option>
    </select><br>

    <label for="siteAssign">Site: </label>
    <select class="px-3 pt-2 card-text rounded w-100 form-control" id="siteAssign" [(ngModel)]="this.selectedSite">
        <option selected="selected" disabled="disabled">Select one</option>
        <option *ngFor="let site of this.allSites" value="{{site.ID}}">{{site.description}} ({{site.code}})</option>
    </select><br>

    <button class="mx-3 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.assignSite()" *ngIf="this.operation === 'add'">Save</button><br><br>
    <button class="mx-3 btn btn-outline-danger btn-rounded w-40 waves-effect z-depth-0" (click)="this.assignSite()" *ngIf="this.operation === 'delete'">Remove</button><br><br>

    <button class="mx-3 mb-2 ml-2 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.hideAssignSite()">Back</button>
</div>

<div *ngIf="this.showTitleEdit">
    <h2 class="px-3 pt-1 text-primary card-title" *ngIf="this.operation === 'add'">Add Job Title to system:</h2><h2 class="px-3 pt-1 text-primary card-title" *ngIf="this.operation === 'delete'">Remove Job Title from system:</h2><br>
    <label for="typeTitle" *ngIf="this.operation === 'add'">Type: </label>
    <input id="typeTitle" type="text" class="rounded w-75 form-control" [(ngModel)]="this.titleType" *ngIf="this.operation === 'add'"><br *ngIf="this.operation === 'add'">
    <label for="descTitle" *ngIf="this.operation === 'add'">Description: </label>
    <input id="descTitle" type="text" class="rounded w-75 form-control" [(ngModel)]="this.titleDescription" *ngIf="this.operation === 'add'"><br *ngIf="this.operation === 'add'">

    <label for="titleSelect" *ngIf="this.operation === 'delete'">Title: </label>
    <select class="px-3 pt-2 card-text rounded w-100 form-control" id="titleSelect" [(ngModel)]="this.selectedTitle"  *ngIf="this.operation === 'delete'">
        <option selected="selected" disabled="disabled">Select one</option>
        <option *ngFor="let title of this.titles" value="{{title.ID}}">{{title.title}}</option>
    </select><br>

    <button class="mx-3 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.editTitle()" *ngIf="this.operation === 'add'">Save</button><br *ngIf="this.operation === 'add'"><br *ngIf="this.operation === 'add'">
    <button class="mx-3 btn btn-outline-danger btn-rounded w-40 waves-effect z-depth-0" (click)="this.editTitle()" *ngIf="this.operation === 'delete'">Remove</button><br *ngIf="this.operation === 'delete'"><br *ngIf="this.operation === 'delete'">

    <button class="mx-3 mb-2 ml-2 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.hideTitle()">Back</button>
</div>

<div *ngIf="this.showManagerEdit">
    <div *ngIf="this.operation === 'add'">
        <h2 class="px-3 pt-1 text-primary card-title">Add Manager to system:</h2>
        <label for="titleManager">Title: </label>
        <select class="px-3 pt-2 card-text rounded w-100 form-control" id="titleManager" [(ngModel)]="this.managerJob">
            <option selected="selected" disabled="disabled">Select one</option>
            <option *ngFor="let title of this.titles" value="{{title.ID}}">{{title.title}}</option>
        </select><br>
        <label for="siteManager">Site: </label>
        <select class="px-3 pt-2 card-text rounded w-100 form-control" id="siteManager" [(ngModel)]="this.managerSite">
            <option selected="selected" disabled="disabled">Select one</option>
            <option *ngFor="let site of this.allSites" value="{{site.ID}}">{{site.description}} ({{site.code}})</option>
        </select><br>
        <label for="managerFirst">First Name: </label>
        <input type="text" id="managerFirst" [(ngModel)]="this.managerFirst" class="form-control"><br>
        <label for="managerLast">Last Name:</label>
        <input type="text" id="managerLast" [(ngModel)]="this.managerLast" class="form-control"><br>
        <label for="contactNum">Contact Number</label>
        <label *ngIf="this.showPhone == false" style="color: red">Invalid South African Number</label>
        <label *ngIf="this.showPhone == true" style="color: green">Valid South African Number </label>
        <input
                ngbPopover="Please enter your phone number"
                triggers="mouseenter:mouseleave"
                placement="bottom-right"
                popoverTitle="INPUT PHONE NUMBER"
                (input)="validatePhoneNumber(this.managerPhone)"
                class="form-control" [ngClass]="{'true': this.showPhone, 'false': !this.showPhone}"
                [(ngModel)]="this.managerPhone"
                type="text"
                id="contactNum" required><br>
        <label for="username">Username</label>
        <label *ngIf="this.showEmail == false" style="color: red">Invalid</label>
        <label *ngIf="this.showEmail == true" style="color: green">Valid
        </label>
        <input
                ngbPopover="Please enter the username of your email before the @"
                triggers="mouseenter:mouseleave"
                placement="bottom-right"
                popoverTitle="INPUT USERNAME"
                (input)="validateEmail(this.managerEmail)" class="form-control"
                [ngClass]="{'true': this.showEmail, 'false': !this.showEmail}"
                id="username" name="username" [(ngModel)]= this.managerEmail type="email"
                required><br>
        <button class="mx-3 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.editManager()">Save</button><br><br>
    </div>
    <div *ngIf="this.operation === 'delete'">
        <h2 class="px-3 pt-1 text-primary card-title">Remove Manager from system:</h2>
        <label for="manager">Manager: </label>
        <select class="px-3 pt-2 card-text rounded w-100 form-control" id="manager" [(ngModel)]="this.selectedManager"  *ngIf="this.operation === 'delete'">
            <option selected="selected" disabled="disabled">Select one</option>
            <option *ngFor="let man of this.managers" value="{{man.ID}}">{{man.firstname}} {{man.lastname}} ({{man.emailAddress}})</option>
        </select><br>
        <button class="mx-3 btn btn-outline-danger btn-rounded w-40 waves-effect z-depth-0" (click)="this.editManager()">Remove</button><br><br>
    </div>
    <button class="mx-3 mb-2 ml-2 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.hideManager()">Back</button>
</div>

<div *ngIf="this.showEditAlert">
    <h2 class="px-3 pt-1 text-primary card-title">Edit an alert:</h2>
    <label for="alert">Alert: </label>
    <select class="px-3 pt-2 card-text rounded w-100 form-control" id="alert" [(ngModel)]="this.selectedAlert">
        <option selected="selected" disabled="disabled">Select one</option>
        <option *ngFor="let alert of this.alerts" value="{{alert.ID}}">{{alert.message_type}}</option>
    </select><br>

    <label for="alertMessage">Message: </label>
    <input id="alertMessage" type="text" class="rounded w-75 form-control" [(ngModel)]="this.alertMessage"><br>
    <label for="alertFreq">Frequency: </label>
    <input id="alertFreq" type="number" class="rounded w-75 form-control" [(ngModel)]="this.alertFreq"><br>

    <button class="mx-3 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.editAlert()">Save</button><br><br>

    <button class="mx-3 mb-2 ml-2 btn btn-outline-info btn-rounded w-40 waves-effect z-depth-0" (click)="this.hideEditAlert()">Back</button>
</div>


<!--Created By Blaine Viljoen-->
