<!DOCTYPE HTML>
<html>
<head>
  <title>ATNS RFC Creation</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<div id="header">

</div>

<body>
<div id="main" class="mx-auto">
  <form class="card-body md-form " type="GET">
    <div class="form-group" >
      <label for="userTitle">Requester Title</label>
      <h1 id="userTitle">{{User.title}}</h1>
    </div>
    <div class="form-group">
      <label for="userName">Requester Full Name</label>
      <h2 id = "userName">{{User.name}}</h2>
    </div>
    <div class="form-group">
      <label id = "requestedChange">Change Request</label>
      <textarea rows="4" class="form-control" [(ngModel)]="reqChange"
                type="text" name="enquiry"></textarea>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea rows="4" class="form-control" [(ngModel)]="desc"
                type="text" name="enquiry"></textarea>
    </div>

    <br>

    <button type="submit" value="User" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" (click)="onSubmit()"
    >Submit</button>


  </form>
</div>
</body>
</html>

