<!DOCTYPE HTML>
<html>
<head>
  <title>ATNS RFC Creation</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<div id="header">

</div>

<body>
<div id="main">
  <form class="InitiatiorForm" type="GET">
    <div class="form-group" >
      <label for="userTitle">Requester Title</label>
      <h1 id="userTitle">{{user.title}}</h1>
    </div>
    <div class="form-group">
      <label for="userName">Requestor Full Name</label>
      <h2 id = "userName">{{user.name}}</h2>
    </div>
    <div class="form-group">
      <label id = "requestedChange">Change Request</label>
      <textarea rows="4" class="form-control" [(ngModel)]="RFC.requestedChange"
                type="text" name="enquiry"></textarea>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea rows="4" class="form-control" [(ngModel)]="RFC.description"
                type="text" name="enquiry"></textarea>
    </div>

    <br>

    <button type="submit" value="Register" class="btn-primary" (click)="onLogin()"
    >Submit</button>


  </form>
</div>
</body>
</html>

