<!DOCTYPE HTML>
<html>
<head>
  <title>ATNS RFC Registration</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<div id="header">

</div>
<body>
<div id="main">
  <form class="registrationForm" >
    <div class="form-group">
      <label for="department">Title</label>
      <select title="Select your relevant department" (change)="onSelectTitle($event.target.value)" name="title"  id="title">
        <option *ngFor="let title of availableTitles">{{title}}</option>
      </select>
    </div>
    <div class="form-group" >
      <label for="name">Name</label>
      <input title="Please enter your First names"  required class="form-control" [(ngModel)]="User.name"
             type="text" name="name" id="name">
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input title="Please enter your Surname" required class="form-control" [(ngModel)]="User.surname"
             type="text" name="surname" id="surname">
    </div>
    <div class="form-group">
      <label for="employeeID">Employee ID</label>
      <input title="Please enter your Employee ID" class="form-control" (input)="validateEmpId(User.employeeId)"
             [ngClass]="{'true': this.showEmpId, 'false':
            !this.showEmpId}"
             [(ngModel)]="User.employeeId"
             type="number" name='EmployeeId' id="employeeID" required>
    </div>
    <div class="form-group">
      <label>Contact Number</label>
      <label *ngIf="this.showPhone == false" style="color: red">Invalid South African Number</label>
      <label *ngIf="this.showPhone == true" style="color: green">Valid South African Number </label>
      <input (input)="validatePhoneNumber(User.contactNumber)"
             class="form-control" [ngClass]="{'true': this.showPhone, 'false':
            !this.showPhone}" [(ngModel)]="User.contactNumber" type="text"
             name="contactNum" required>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <label *ngIf="this.showEmail == false" style="color: red">Invalid</label>
      <label *ngIf="this.showEmail == true" style="color: green">Valid
      </label>
      <input title="Please enter the username of your email before the @" (input)="validateEmail(User.email)" class="form-control"
             [ngClass]="{'true': this.showEmail, 'false': !this.showEmail}"
             id="username" name="username" [(ngModel)]= User.email type="email"
             required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input title="Password must be at least 8 characters in length containing  1 Uppercase, 1 Lowercase and 1 special character"
             (input)="validatePassword(password)"
             [ngClass]="{'true': this.showPassword, 'false': !this.showPassword}"
             class="form-control" id="password" name="password" [(ngModel)]="password" type="password" required>
      <password-strength-meter [password]="password"
                               class="form-control" id="passwordStrengthMeter" name="passwordStrengthMeter" >
      </password-strength-meter>
      <label for="passwordCheck">Confirm Password</label>
      <input title="Re-Enter your password" (input)="confirmPassword(passwordCheck)"
             [ngClass]="{'true': this.showPasswordCheck, 'false': !this.showPasswordCheck}"
             class="form-control" id="passwordCheck" name="passwordCheck" [(ngModel)]="passwordCheck" type="password">

    </div>
    <div class="form-group">
      <label for="permissionLevel">Permission Level</label>
      <select title="Select your relevant Permission level" required  (change)="onSelectPermission($event.target.value)"
              name="permissionLevel" id="permissionLevel">
        <option *ngFor="let permission of availablePermissions">{{permission}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="region">Region</label>
      <select title="Select your relevant region" (change)="onSelectRegion($event.target.value)" name="region" id="region">
        <option *ngFor="let region of availableRegions">{{region}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="department">Department</label>
      <select title="Select your relevant department" (change)="onSelectDepartment($event.target.value)" name="department"  id="department">
        <option *ngFor="let department of availableDepartments">{{department}}</option>
      </select>
    </div>
    <!--<div class="form-group">-->
      <!--<label>Submit</label>-->
      <!--<textarea rows="4" class="form-control" [(ngModel)]="email.description"-->
                <!--type="text" name="enquiry"></textarea>-->
    <!--</div>-->

    <br>

    <button type="submit" value="Register" class="btn-primary" (click)="onRegister()"
           >Register</button>


  </form>
</div>
</body>
</html>
