<aside class="sidebar shadow">
  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="../../../assets/images/user.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">{{this.username}}</p>
      <small class="text-uppercase role">Specialist/Manager/Employee</small>
    </div>
  </div>
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <!--<input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">-->
  </div>
  <nav class="sidebar-menu pt-3 pb-3">
    <ul>
      <li class="active">
        <a  routerLink="/home/createRFC" routerLinkActive="active">
          <i class="fa fa-pencil"></i>
          <span>Create RFC</span>
          <span class="badge badge-danger rounded-0 ml-auto text-light">New</span>
        </a>
      </li>
      <li class="active">
        <a  routerLink="/home/myRFCS" routerLinkActive="active" >
          <i class="fa fa-archive"></i>
          <span>My RFC'S</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/home/phase1">
          <i class="fa fa-table"></i>
          <span>Tables</span>
        </a>
      </li>
      <li>
        <!--<a href="#" routerLink="/typography">-->
          <!--<i class="fa fa-align-center"></i>-->
          <!--<span>Typography</span>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#" routerLink="/maps">-->
          <!--<i class="fa fa-globe"></i>-->
          <!--<span>Maps</span>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="#" routerLink="/notifications">-->
          <!--<i class="fa fa-bell-o"></i>-->
          <!--<span>Notifications</span>-->
        <!--</a>-->
      <!--</li>-->
    </ul>
  </nav>
  <nav class="sidebar-menu pt-3 pb-3">
    <ul>
      <li class="active">
        <a  routerLink="/home/currentrfcs" routerLinkActive="active">
          <i class="fa fa-eye"></i>
          <span>CCR's Dashboard</span>
          <!--<span class="badge badge-danger rounded-0 ml-auto text-light">New</span>-->
        </a>
      </li>
      <li class="active">
        <a  routerLink="/home/rfcsignoff" routerLinkActive="active">
          <i class="fa fa-leaf"></i>
          <span>CCR Sign Off</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
