<!-- Created by : Liam Gordon McCabe-->
<!-- Student number: 27455211-->
  <form class="card mx-auto secondary-color">
    <div class="form-group px-3 pt-3">
      <div class="row">
        <div class="col"> <label for= "site">Select your site</label></div>
        <div class="col">
          <select ngbPopover="Select from the drop down list The site you want to make your request within" triggers="mouseenter:mouseleave" placement="bottom" popoverTitle="SELECT SITE"
                  class="rounded w-100 form-control"
                  name="site"
                  id="site"
                  (change)="onSelectSite($event)" >
            <option id="default" selected="selected" disabled="disabled">Select one</option>
            <option *ngFor="let site of usersSites"  [value]="site[0]" [selected]="this.RFC.site_ID == site[0]" >{{site[1]}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group px-3 pt-3">
      <label for= "requestedChange">Change Request Description</label>
      <textarea rows="8"
                class="form-control rounded"
                type="text"
                name="requestedChange"
                id="requestedChange"
                (input)="requestedChange()"
                [(ngModel)]="RFC.requestDescription">
      </textarea>
    </div>
    <div class="form-group px-3">
      <label for="description">Reason For Request</label>
      <textarea rows="8"
                class="form-control rounded"
                type="text"
                name="description"
                id="description"
                (input)="description()"
                [(ngModel)]="RFC.reasonForRequest"
      ></textarea>
    </div>

    <br>

    <div class="row px-3">
      <div class="col"></div>
      <div class="col">
        <button
                type="cancel"
                id="cancel"
                class="btn btn-outline-danger btn-rounded w-100 mx-auto   my-4 waves-effect z-depth-0" (click)="onCancel()"
        >Cancel</button>
      </div>
      <div class="col"></div>
      <div class="col">
        <button
                type="submit"
                id="submit"
                class="btn btn-outline-info btn-rounded w-100 mx-auto my-4 waves-effect z-depth-0 disabled" [disabled]="!this.enableSubmitButton" (click)="onSubmit()"
        >Submit</button>
      </div>
      <div class="col"></div>
    </div>
  </form>
