<!-- Page Features -->
<div *ngIf="!this.displayPhase3 && !this.displayPhase2">
    <div class="row text-center">
        <div class="col mb-4">
            <h2 class="px-3 text-secondary">Initiated requests:</h2><br>
        </div>
        <div class="col mb-4">
            <h2 class="px-3 text-secondary">CCR's in Phase 2:</h2>
        </div>
        <div class="col mb-4">
            <h2 class="px-3 text-secondary">CCR's in Phase 3:</h2>
        </div>
    </div>
    <div class="row text-center" *ngFor="let ccr of myCCRs" >
        <div class="col mb-4">
            <div class="card h-100" >
                <div class="card-body" (click)="viewCcrPhase1(ccr[0][0])">
                    <label>CCR Initiated: </label>
                    <p class="card-text"> {{ccr[0][0].start_time}}</p>
                    <label>User ID</label>
                    <p class="card-text">{{ccr[0][0].user_ID}}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" *ngIf="!ccr[1][0]" (click)="configureCCR(ccr[0][0])">Configure CCR</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" *ngIf="ccr[1][0]">
                <div class="card-body" (click)="viewCcrPhase2(ccr[1][0])">
                    <h6>TCB CRF ID: </h6>
                    <p class="card-text">{{ccr[1][0].tcb_crf_ID}}</p>
                    <h6>Started: </h6>
                    <p class="card-text">{{ccr[1][0].startDate}}</p>
                </div>
                <div class="card-footer"  *ngIf=" !ccr[2][0]">
                    <button class="btn btn-primary" (click)="implementCCR(ccr)">Implement CCR</button>
                </div>
                <div class="card-footer"  *ngIf="ccr[2][0]">
<!--                    <button class="btn btn-primary" *ngIf="ccr[2][0]" (click)="implementCCR(ccr)">Implement CCR</button>-->
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" *ngIf="ccr[2][0]">
                <div class="card-body">
                    <a class="card-text" *ngIf="ccr[2][0].start_tcb_evaluation_date !== '0000-00-00'">
                        <h6>TCB evaluation start date: </h6>
                    <p>{{ccr[2][0].start_tcb_evaluation_date}}</p>
                    </a>
                    <a class="card-text" *ngIf="ccr[2][0].end_tcb_evaluation_date !== '0000-00-00'">
                        <h6>TCB evaluation end date: </h6>
                        <p>{{ccr[2][0].start_tcb_evaluation_date}}</p>
                    </a>
                    <p class="card-text" *ngIf="ccr[2][0].close_out_confirmed === '1'">This CCR has been closed out </p>
                    <p class="card-text" *ngIf="ccr[2][0].close_out_confirmed === '0'">This CCR has not been closed out </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" *ngIf="ccr[2][0].close_out_confirmed === '0'" (click)="implementCCR(ccr)">Implement CCR</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <app-phase2 *ngIf="this.displayPhase2"></app-phase2><br>
    <app-phase3 *ngIf="this.displayPhase3"></app-phase3><br>

